// Override default caspar styles for our own blog

// Declutter navigation
.nav {
  font-family: "Open Sans", sans-serif;

  li:before,
  li a:after,
  li.nav-current a:after {
    content: none;
  }
}

// Disable pointless animations
.home-template .page-title,
.home-template .page-description {
  -webkit-animation: none 0s;
  animation: none 0s;
}

// Golden ratio for post header images
.post-head.main-header {
    height: 61vh;
    min-height: 180px;
}

.author-bio {
  text-align: left;
}
.post-footer .share a {
  margin: 1rem 1.3rem 1.3rem 0;
}
.post-footer .share .icon-mail:hover {
  color: #111;
}

@media only screen and (max-width: 900px) {
  // Nicer blog footer on narrow screens
  .read-next-story:last-of-type .post {
    padding-bottom: 8rem;
  }
}
