// Override default caspar styles for our own blog

// Declutter navigation
.nav {
  font-family: "Open Sans", sans-serif;

  li:before,
  li a:after,
  li.nav-current a:after {
    content: none;
  }
}

// Disable pointless animations
.home-template .page-title,
.home-template .page-description {
  -webkit-animation: none 0s;
  animation: none 0s;
}

.post-template .post-meta,
.page-template .post-meta {
  margin: 1.75rem 0 0 0;;
}

.post-template .post-date,
.page-template .post-date,
.post-meta .post-date {
  font-size: 1.5rem;
}

.post-date {
  text-transform: none;
}

.time-to-read {
  margin-left: 8px;
  padding-left: 12px;
  border-left: #d5dbde 1px solid;
}

// Golden ratio for post header images
.post-head.main-header {
    height: 61vh;
    min-height: 180px;
}

.post-footer figure.author-image {
  // Set the margin to what is was before 44989142 to properly position the
  // author image below a post
  margin: 0 0 0 -40px;
  // Yes, even on small screens
  top: -40px;
}

.author-meta span {
  display: inline-block;
}

.author-bio {
  text-align: left;
}
.post-footer .share a {
  margin: 1rem 1.3rem 1.3rem 0;
}
.post-footer .share .icon-mail:hover {
  color: #111;
}

@media only screen and (max-width: 900px) {
  // Nicer blog footer on narrow screens
  .read-next-story:last-of-type .post {
    padding-bottom: 8rem;
  }
}
