@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?14158976');
  src: url('../fonts/icons.eot?14158976#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff?14158976') format('woff'),
       url('../fonts/icons.ttf?14158976') format('truetype'),
       url('../fonts/icons.svg?14158976#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  font: normal normal normal 14px icons;
  font-size: inherit; // can't have font-size inherit on line above, so need to override

  text-rendering: auto; // optimizelegibility throws things off

  speak: none;
  text-transform: none;
  line-height: 1;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before { content: '\e800'; } /* '' */
.icon-stackoverflow:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-feed:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-location:before {
  content: '\e806';
  margin-left: 0;
  margin-right: .25em;
} /* '' */
.icon-arrow-left:before { content: '\e808'; } /* '' */
.icon-google-plus:before { content: '\e809'; } /* '' */
.icon-facebook:before { content: '\e80a'; } /* '' */
.icon-xing:before { content: '\e80b'; } /* '' */
