@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?43660247');
  src: url('../fonts/icons.eot?43660247#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff2?43660247') format('woff2'),
       url('../fonts/icons.woff?43660247') format('woff'),
       url('../fonts/icons.ttf?43660247') format('truetype'),
       url('../fonts/icons.svg?43660247#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  font: normal normal normal 14px icons;
  font-size: inherit; // can't have font-size inherit on line above, so need to override

  text-rendering: auto; // optimizelegibility throws things off

  speak: none;
  text-transform: none;
  line-height: 1;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  margin-left: 0;
  margin-right: .25em;
}
.icon-stackoverflow:before { content: '\f60a'; }
.icon-github:before { content: '\f60b'; }
.icon-xing:before { content: '\f60c'; }
.icon-mail:before { content: '\f60d'; }
.icon-angle-left:before { content: '\f60e'; }
.icon-instagram:before { content: '\f60e'; }
