This work by
= link_to blog_author.name, blog_author.website, 'xmlns:cc' => 'http://creativecommons.org/ns#', :property => 'cc:attributionName', :rel => 'cc:attributionURL'
is licensed under
= link_to('CC BY-SA 4.0', 'http://creativecommons.org/licenses/by-sa/4.0/', rel: 'license')
