---
title: Contact
lang: :en
layout: page
cover: impressum/cover.jpg
cover_license: '[Cover Image](https://unsplash.com/photos/P4w-HvqTPoM) by [Shaun Bell](https://unsplash.com/@shauncolinbell), [CC Zero 1.0](https://unsplash.com/license)'
---

Personal contact is my preferred way of communication. If you see me, do not hesitate to talk to me. If you can't talk to me in person, please use e-mail. If you take a second to compose a good subject line, your mail will not be confused with spam. You can reach me at:

<p><address style="text-align: center">
  <span class="icon-mail"><span class="hidden">E-Mail:</span></span>
  <%= author_email %>
</address></p>

If you want to send me physical mail, you can use this postal address:

<p><address>
  Holger Just<br>
  Frankfurter Allee 53<br>
  10247 Berlin<br>
  GERMANY
</address></p>

Dies ist gleichzeitig der Verantwortliche im Sinne von [ยง 5 TMG](https://www.gesetze-im-internet.de/tmg/__5.html), [ยง 55 RStV](http://www.urheberrecht.org/law/normen/rstv/RStV-13/text/2010_06.php3).

# Licenses

Unless noted otherwise on the respective pages the following licenses apply to
content published on this website:

* All written text of this website is licensed under [CC BY-SA 4.0](http://creativecommons.org/licenses/by-sa/4.0/) unless noted otherwise on the respective article.
* Images published on this website are licensed under [CC BY-SA 4.0](http://creativecommons.org/licenses/by-sa/4.0/)
  or their respective license. Please note the copyright and license statements
  near the respective image and on the bottom of the pages.
* Any published source code inside of articles as well as the source code of the
  website itself is licensed under the [MIT license](https://opensource.org/licenses/MIT).
  You can find this website's sources on [GitHub](https://github.com/meineerde/holgerjust.de).

Fonts used on this website are licensed under these terms:

* [Merriweather](https://www.google.com/fonts/specimen/Merriweather) by Eben Sorkin is licensed under the [SIL Open Font License](http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL)
* [Open Sans](https://www.google.com/fonts/specimen/Open+Sans) by Steve Matteson is licensed under the [Apache License, version 2.0](http://www.apache.org/licenses/LICENSE-2.0.html)
* The icons font of [Fontello](http://fontello.com/) is licensed under the [SIL Open Font License](http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL)
* That [casper-icons](https://github.com/TryGhost/Casper/tree/1c092c7be098bed496eaa2f194a3ae39dd23659d/assets/fonts) font by the [Ghost Foundation](https://ghost.org) is licensed under the [MIT License](https://github.com/TryGhost/Casper/blob/1c092c7be098bed496eaa2f194a3ae39dd23659d/LICENSE)

The design and layout is based on
[middleman-casper](https://github.com/danielbayerlein/middleman-casper)
by Daniel Bayerlein and licensed under MIT which in turn is based on the [Casper
theme](https://github.com/TryGhost/Casper) for the [Ghost](https://ghost.org/)
blogging platform.
