---
title: Impressum
lang: :de
layout: page
cover: impressum/cover.jpg
cover_license: "[CC Zero 1.0](https://unsplash.com/license) by [Sergei Zolkin](https://unsplash.com/photos/E0Spm6XXn2Y)"
---

Holger Just<br>
Frankfurter Allee 53<br>
10247 Berlin<br>
GERMANY

Website: <%= link_to blog_author.website.sub(%r{^https?://}, ''), blog_author.website %><br>
E-Mail: <a href="mailto:<%= blog_author.email %>"><%= blog_author.email %></a>

Diese Daten dürfen nicht zu Werbezwecken genutzt werden.<br>
This data may not be used for advertising purposes.

## License

Unless noted otherwise on the respective pages the following licenses apply to
content published on this website:

* All written text of this website is licensed under [CC BY-SA 4.0](http://creativecommons.org/licenses/by-sa/4.0/).
* Images published on this website are licensed under [CC BY-SA 4.0](http://creativecommons.org/licenses/by-sa/4.0/)
  or their respective license. Please note the copyright and license statements
  near the respective image.
* Any published source code including the source of the website itself is
  licensed under the [MIT license](https://opensource.org/licenses/MIT).

This website uses various photos from [Unsplash](https://unsplash.com). The
layout is based on [middleman-casper](https://github.com/danielbayerlein/middleman-casper)
by Daniel Bayerlein licensed under MIT which in turn is based on the [Casper
theme](https://github.com/TryGhost/Casper) for the [Ghost](https://ghost.org/)
blogging platform.
